In [1]:
#ans1
a=[1,2,3,4,5,6,7]
a

[1, 2, 3, 4, 5, 6, 7]

In [4]:
#ans3
m=[10,11,12,13,14,15]
m.append(16)
m

[10, 11, 12, 13, 14, 15, 16]

In [5]:
m.insert(7,17)
m

[10, 11, 12, 13, 14, 15, 16, 17]

In [8]:
m.extend([18,19,20])
m

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [10]:
#ans4
del m
m

NameError: name 'm' is not defined

In [12]:
n=[1,2,3,4]
n.remove(2)
n

[1, 3, 4]

In [13]:
#ans 2
n=[20,30,40]
n

[20, 30, 40]

In [14]:
len(n)

3

In [17]:
#ans6
t=(1,2,3,4)
t

(1, 2, 3, 4)

In [19]:
#ans7
t=(1,2,3,4,5,6)
li=list(t)
li

[1, 2, 3, 4, 5, 6]

In [20]:
t=tuple(li)
t

(1, 2, 3, 4, 5, 6)

In [21]:
#ans8
t=(30,40,50)
t

(30, 40, 50)

In [23]:
t1=(60,70,80)
t1

(60, 70, 80)

In [24]:
t+t1

(30, 40, 50, 60, 70, 80)

In [43]:
#ans8
a=set()
a

set()

In [40]:
#ans 9
b=set([2,3,4,5,6])
b

{2, 3, 4, 5, 6}

In [45]:
#ans10
a=set([2,3,4,5,7])
b=set([5,6,7,8])
a
b

{5, 6, 7, 8}

In [46]:
a.union(b)

{2, 3, 4, 5, 6, 7, 8}

In [47]:
a.difference(b)

{2, 3, 4}

In [48]:
a.symmetric_difference(b)

{2, 3, 4, 6, 8}

In [49]:
b={1:"abc",2:"def",3:"ghi"}
b

{1: 'abc', 2: 'def', 3: 'ghi'}

In [50]:
b[4]="jkl"
b

{1: 'abc', 2: 'def', 3: 'ghi', 4: 'jkl'}

In [52]:
del b
b

NameError: name 'b' is not defined

In [64]:
a=int(input("enter your number "))
sum1=0
temp=a
while temp>0:
    digit=temp%10
    sum1=sum1+(digit**3)
    temp=temp//10
if sum1==a:
    print(a,"armstrong number")
else:
    print(a,"not armstrong number")

enter your number 345
345 not armstrong number

In [71]:
s=int(input("enter number"))
f=1
for i in range(1,s+1):
    f=i*f
print(f)

enter number5
120

In [86]:
a=int(input("enter your number"))
first=0
secand=1

while first<=a:
    
    next1=first+secand
    first=secand
    secand=next1
    print(next1)

enter your number7

1

2

3

5

8

13

In [87]:
n=int(input())
a=0
b=1
print(a)
print(b)
for i in range(0,n):
    if(n>1):
        d=a+b
        a=b
        b=d
        print(d)

10
0
1
1
2
3
5
8
13
21
34
55
89

In [88]:
n=int(input())
a=0
b=1
print(a)
print(b)
for i in range(0,n):
    if(n>1):
        d=a+b
        a=b
        b=d
        print(d)

6
0
1
1
2
3
5
8
13

In [92]:
n=int(input())
a=0
b=1
while a<=n:
    d=a+b
    a=b
    b=d
    print(d)

5
1
2
3
5
8
13

# 2nd step

In [94]:
#ans1
class calculator:
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def put(self):
        self.a=int(input())
        self.b=int(input())
    def sum1(self):
        print("sum=",self.a+self.b)
    def sub(self):
        print("sub=",self.a-self.b)
    def divi(self):
        print("divi=",self.a/self.b)
    def multiple(self):
        print("multiple=",self.a*self.b)
obj=calculator("","")
obj.put()
obj.sum1()
obj.sub()
obj.divi()
obj.multiple()

3
2
sum= 5
sub= 1
divi= 1.5
multiple= 6

In [7]:
#ans2
class school:
    def __init__(self,std_name,std_age):
        self.std_name=std_name
        self.std_age=std_age
    def get(self):
        self.std_name=int(input("number of classes ?"))
        self.std_age=int(input("total stdent of school ?"))
    def put(self):
        print(self.std_name)
        print(self.std_age)
class teacher(school):
    def __init__(self,classs,dep):
        self.classs=classs
        self.dep=dep
    def dot(self):
        self.classs=int(input("enter which class is teacher ?"))
        self.dep=input("enter what subject  of teacher ?")
    def sub(self):
        print(self.classs)
        print(self.dep)
class student(teacher):
    def __init__(self,address,total_mark):
        self.address=address
        self.total_mark=total_mark
    def hop(self):
        self.address=input("enter  name of student?:")
        self.total_mark=int(input("enter student total mark of in the year?:"))
    def tot(self):
        print(self.address)
        print(self.total_mark)
obj=school("","")
obj=teacher("","")
obj=student("","")
obj.get()
#obj.put()
obj.dot()
#obj.sub()
obj.hop()
#obj.tot()

number of classes ?10
total stdent of school ?1200
enter which class is teacher ?7
enter what subject  of teacher ?malayalam
enter  name of student?:suchithra
enter student total mark of in the year?:200

In [14]:
#ans3
num=int(input("enter number:"))
sum=0
while num>0:
    digit=num%10
    sum=sum+digit
    num=num//10
print(sum)

enter number:123
6

In [18]:
#ans3
num=int(input("enter number:"))
sum=0
for i in(str(num)):
    digit=num%10
    sum=sum+digit
    num=num//10
print(sum)

enter number:123
6

# 3rd test

In [3]:
#ans1
string=input("enter your string:")
count=0
for i in string:
    count=count+1
    print(count)

enter your string:hello
1
2
3
4
5

In [24]:
#ans2
a=input("enter your string:")

print(a)
r= a.split()

print(len(r))
print(len(a))

enter your string:hi
hi
1
2

In [32]:
#ans3
s=input("enter your string")
print(s)
s2=s.replace("","-")
print(s2)

enter your stringheloo
heloo
-h-e-l-o-o-

In [46]:
#ANS4
d=input()
d
c=0
for i in d:
    if(i.islower()):
        c=c+1
print(c)

hello ALLLL
5

In [51]:
#ANS5
z=input()
vowel=0
for i in z:
    if(i=="a" or i=="e" or i=="o" or i=="i" or i=="A" or i=="E" or i=="O"):
        vowel=vowel+1
        print(vowel)

bommu
1

In [55]:
#ans6
p="all are you wellcom"
s="good moring"
a=list(set(p)&set(s))
for i in a:
    print(i)

o

r
m

In [69]:
#ans7
n=int(input("enter your number:"))
temp=n
rev=0
while(n>0):
    digit=n%10
    rev=rev *10+digit
    n=n//10
if(temp==rev):
    print("its a palinder")
else:
    print("its not a palinder")

enter your number:121
its a palinder

In [70]:
#ans9
a=8
b=5
c=a**b
c

32768

In [78]:
#ans10
i=1
t=int(input())
for j in range(1,t+1):
    while (i>=((j//2))+1):
        if(i**2==j):
            print(j)
        i+=1
    i=1

133
1

KeyboardInterrupt:

In [91]:
#ans 8
def find(x):
    retun(x and(not(x and(x-1))))
    if(find(98)):
        print("yes")
    else:
            print("no")

In [94]:
#ans11
celsius = 54
fahrenheit = (celsius * 1.8) + 32
print(celsius )
print(fahrenheit)

54
129.2

In [97]:
n=int(input("enter number"))
for i in range(1,2*n):
    for j in range(1,n*2):
        if(i==n or j==n):
            print("*",end='')
        else:
            print('',end='')
    print()

enter number4
*
*
*
*******
*
*
*

In [98]:
n=int(input("enter number"))
for i in range(n):
    for j in range(i+1):
        print("*",end='')
    print()

enter number8
*
**
***
****
*****
******
*******
********

In [3]:
import cmath
a=1
b=5
c=6
d=(b**2)-(4*a*c)
sol1=(-b-cmath.sqrt(d))/(2*a)
sol2=(-b+cmath.sqrt(d))/(2*a)
print(sol1)
print(sol2)

(-3+0j)
(-2+0j)

In [4]:
a=int(input("enter area height"))
b=int(input("enter area of base"))
area =a*b/2
print(area)

enter area height5
enter area of base6
15.0

In [7]:
p=int(input("enter your principal amount"))
t=int(input("enter your time of year"))
r=float(input("enter interest rate"))
interest=(p*t*r)/100
print(interest)

enter your principal amount1000
enter your time of year12
enter interest rate1.2
144.0