# "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are" output:

In [16]:
print("Twinkle, twinkle, little star,\n\tHow I wonder what you are!\nUp above the world so high,\n\tLike a diamond in the sky.\nTwinkle, twinkle, little star, \n\tHow I wonder what you are")

Twinkle, twinkle, little star,
	How I wonder what you are!
Up above the world so high,
	Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

In [17]:
#ans2
t=(1,2,3,4,5,6,7)
t

(1, 2, 3, 4, 5, 6, 7)

In [18]:
li=list(t)
li

[1, 2, 3, 4, 5, 6, 7]

In [19]:
li=tuple(t)
li

(1, 2, 3, 4, 5, 6, 7)

In [31]:
t=tuple(li)
t

(1, 2, 3, 4, 5, 6, 7)

In [32]:
#ans3
values = input("Input some comma seprated numbers : ")
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

Input some comma seprated numbers : 124456
List :  ['124456']
Tuple :  ('124456',)

In [37]:
#ans4
for i in range(4000,5200):
    if i%7==0 and i%5!=0:
        print(i)

4004
4011
4018
4032
4039
4046
4053
4067
4074
4081
4088
4102
4109
4116
4123
4137
4144
4151
4158
4172
4179
4186
4193
4207
4214
4221
4228
4242
4249
4256
4263
4277
4284
4291
4298
4312
4319
4326
4333
4347
4354
4361
4368
4382
4389
4396
4403
4417
4424
4431
4438
4452
4459
4466
4473
4487
4494
4501
4508
4522
4529
4536
4543
4557
4564
4571
4578
4592
4599
4606
4613
4627
4634
4641
4648
4662
4669
4676
4683
4697
4704
4711
4718
4732
4739
4746
4753
4767
4774
4781
4788
4802
4809
4816
4823
4837
4844
4851
4858
4872
4879
4886
4893
4907
4914
4921
4928
4942
4949
4956
4963
4977
4984
4991
4998
5012
5019
5026
5033
5047
5054
5061
5068
5082
5089
5096
5103
5117
5124
5131
5138
5152
5159
5166
5173
5187
5194

In [38]:
#ans5
clr1={"rose","red","white","black"}
clr2={"black","red","white","green"}
clr1.difference(clr2)

{'rose'}

In [39]:
#ans6
a="helooo"
a

'helooo'

In [41]:
print(type(a))

<class 'str'>

In [42]:
#ans7
len(a)

6

In [43]:
d="pthon"
values.split(d)
d

'pthon'

In [47]:
#ans8
b="helo evetyy"
b.split()

['helo', 'evetyy']

In [48]:
#ans9
color_list = ["Red","Green","White" ,"Black"]
color_list

['Red', 'Green', 'White', 'Black']

In [50]:
color_list[3]

'Black'

In [54]:
#anss10.5
date=(21,10,20222)
print("date of the day: %i / %i / %i"%date)

date of the day: 21 / 10 / 20222

In [51]:
#ans10
exam_st_date = (11,12,2014)
print( "The examination will start from : %i / %i / %i"%exam_st_date)

The examination will start from : 11 / 12 / 2014

In [57]:
#ans11
def near_thousand(n):
    return(abs(1000-n) <=100) or(abs(2000-n)<=100)
print(near_thousand(1000))
print(near_thousand(9000))
print(near_thousand(8000))
print(near_thousand(2200))

True
False
False
False

In [58]:
def near_thousand(n):
      return ((abs(1000 - n) <= 100) or (abs(2000 - n) <= 100))
print(near_thousand(1000))
print(near_thousand(900))
print(near_thousand(800))   
print(near_thousand(2200))

True
True
False
False

In [59]:
#ans12
amt = 10000
int = 3.5
years = 7
future_value = amt*((1+(0.01*int)) ** years)
print(round(future_value,2))

12722.79

In [63]:
amt=2000
int=3.5
years=7
future_value=amt*((1+(0.01*int)) ** years)
print(round(future_value,2))

2544.56

In [73]:
#ans13

In [70]:
#ans14
nums = [34, 1, 0, -23, 12, -88]
print("Original numbers in the list: ",nums)

Original numbers in the list:  [34, 1, 0, -23, 12, -88]

In [76]:
#ans15
Write a Python program to get the difference between a given number and 17, if the number is greater than 17 
return double the absolute difference. 

def difference(n):
    if n<=17:
        return 17-n
    else:
        return(n-17)*2
print(difference(34))
print(difference(23))

34
12

In [75]:
def difference(n):
    if n <= 17:
        return 17 - n
    else:
        return (n - 17) * 2 

print(difference(22))
print(difference(14))

10
3

In [79]:
#ans16
Write a Python program to calculate the sum of three given numbers, 
if the values are equal then return three times of their sum

def sum(x,y,z):
    sum=x+y+z
    if x==y==z:
        sum=sum*3
    return sum
sum(1,2,3)
sum(3,3,3)

27

In [86]:
def sum_thrice(x, y, z):

     sum = x + y + z
  
     if x == y == z:
      sum = sum * 3
     return sum

print(sum_thrice(1, 2, 3))
print(sum_thrice(3, 3, 3))

6
27

In [89]:
#ans17
 #Write a Python program to sum of three given integers. However, if two values are equal sum will be zero
def sum(a,b,c):
    if a==b:
        s=0
    else:
        s=a+b
    return s

sum(2,3,4)

5

In [91]:
#ans18
def sum(x,y,z):
    s=x+y
    for s in range(15,20):
        return 20
    else:
        return s
sum(2,3,4)

20

In [3]:
#ans19
def rrr(x,y):
    if x==y:
        return true
    else:
        return false
rrr(6,4)

NameError: name 'false' is not defined

In [95]:
#ans19
def test_number5(x, y):
   if x == y or abs(x-y) == 5 or (x+y) == 5:
       return True
   else:
       return False
print(test_number5(7, 2))
print(test_number5(3, 2))
print(test_number5(2, 2))
print(test_number5(7, 3))
print(test_number5(27, 53))

True
True
True
False
False

In [1]:
#ans20
num = int(input("Input a four digit numbers: "))
x  = num //1000
x1 = (num - x*1000)//100
x2 = (num - x*1000 - x1*100)//10
x3 = num - x*1000 - x1*100 - x2*10
print("The sum of digits in the number is", x+x1+x2+x3)

Input a four digit numbers: 1
The sum of digits in the number is 1