In [1]:
#ANS1
def check(str1,str2):
    st1=len(str1)
    st2=len(str2)
    if st1>st2:
        print("heighst is st1 and the value is :",st1)
    elif st2>st1:
        print("heighst is st1 and the value is :",st2)
    else:
        print(st1)
        print(st2)
check("helohh","haii")

heighst is st1 and the value is : 6

In [2]:
#ANS2
def even_odd(a):
    if a%2==0:
        print("its even numbers")
    else:
        print("its is odd numbers ")
even_odd(9)

its is odd numbers

In [3]:
#ANS3
d={1:1,2:4,3:9}
d

{1: 1, 2: 4, 3: 9}

In [4]:
def dictionary():
    d=dict()
    for i in range(1,4):
        d[i]=i**2
        
    print(d)
dictionary()

{1: 1, 2: 4, 3: 9}

In [5]:
#ANS4
def dic():
    di=dict()
    for i in range(1,20+1):
        di[i]=i**2
    print(di)
dic()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [6]:
def dictionary():
    d=dict()
    for i in range(1,20+1):
        d[i]=i**2
    print(d)
dictionary()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [7]:
#ANS5
d={1:"abc",2:"456",3:"suchithra"}
for i in d.values():
    print(i)

abc
456
suchithra

In [8]:
#ANS6
d={1:"abc",2:"456",3:"suchithra"}
for i in d:
    print(i)

1
2
3

In [9]:
#ANS7
d={1:"abc",2:"456",3:"suchithra"}
for i in d.items():
    print(i)

(1, 'abc')
(2, '456')
(3, 'suchithra')

In [2]:
#ANS8
def lists():
    k=[]
    for i in range(1,20+1):
        l=i**2
        k.append(l)
    print(k)
    print(k[:5])
lists()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]
[1, 4, 9, 16, 25]

In [14]:
t=[1,2,3,4,5,6,7,8]
t

[1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
def lists():
    k=[]
    for i in range(0,10+1):
        l=i**2
        k.append(l)
        print(k)

lists()

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36]
[0, 1, 4, 9, 16, 25, 36, 49]
[0, 1, 4, 9, 16, 25, 36, 49, 64]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
def lists():
    k=[]
    for i in range(1,20):
        l=i**2
        k.append(l)
        r=tuple(k)
    print(r[:5])
lists()

(1, 4, 9, 16, 25)

In [4]:
#tuple 11ans
def lists():
    k=[]
    for i in range(1,20+1):
        l=i**2
        k.append(l)
    r=tuple(k)
    print(r[:5])
lists()

(1, 4, 9, 16, 25)

In [1]:
def lists():
    k=[]
    for i in range(1,20+1):
        l=i**2
        k.append(l)
    r=tuple(k)
    print(r[:5])
lists()

(1, 4, 9, 16, 25)